body{
  margin:0;
  background:#070707;
  color:white;
  font-family:Arial,sans-serif;
}

.theatre-container{
  display:flex;
  height:100vh;
}

.sidebar{
  width:320px;
  background:#111;
  overflow:auto;
}

.playlist{
  padding:20px;
}

.track{
  background:#1a1a1a;
  padding:15px;
  margin-top:10px;
  border-radius:12px;
  cursor:pointer;
}

.player-area{
  flex:1;
  padding:30px;
}

.title{
  text-align:center;
}

.media-wrapper{
  height:65vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:black;
  border-radius:30px;
  margin-top:20px;
}

.media-player{
  width:100%;
  height:100%;
}

.controls{
  display:flex;
  gap:20px;
  margin-top:20px;
  align-items:center;
}

button{
  border:none;
  background:#161616;
  color:white;
  padding:15px;
  border-radius:50%;
}

.empty{
  color:#777;
}